# Pycache
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Dataset
output/train_mask
output/train2014
output/val_mask
output/val2014

output/*
!output/README.MD
!output/JSON_Pretty-printing.py
!output/Visualize_dataset.ipynb
!output/remove_images_updated.ipynb