# Pycache
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# output
baseline/output/
baseline/nohup.out

# wandb
output/
baseline/wandb/

# train dataset
input/*
!input/README.MD
!input/JSON_Pretty-printing.py
!input/Visualize_dataset.ipynb
!input/remove_images_updated.ipynb
!input/set_valid.sh