# Pycache
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Dataset
input/train_mask
input/train2014
input/val_mask
input/val2014


# output
baseline/output/

# wandb
baseline/wandb/

# train dataset
input/*
!input/README.MD
!input/JSON_Pretty-printing.py
!input/Visualize_dataset.ipynb
!input/remove_images_updated.ipynb
